<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анкета</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main2.css') }}">
</head>
<body>
    <main>
        <h1>САЙТ ЗНАКОМСТВ</h1>
        <h2>Анкета</h2>
        <form action="{{ url_for('anketa') }}" enctype="multipart/form-data" method="POST">

            <div>
                <label for="username">Имя:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="age">Возраст:</label>
                <input type="text" id="age" name="age" required>
            </div>
            <div>
                <label for="gender">Ваш пол:</label>
                <select id="gender" name="gender" required>
                    <option value="Мужчина">Мужской</option>
                    <option value="Женщина">Женский</option>
                </select>
            </div>
            <div>
                <label for="search_gender">Пол для поиска:</label>
                <select id="search_gender" name="search_gender" required>
                    <option value="Мужчина">Мужской</option>
                    <option value="Женщина">Женский</option>
                </select>
            </div>
            <div>
                <label for="about_me">О себе:</label>
                <textarea id="about_me" name="about_me"></textarea>
            </div>
            <div>
                <label for="photo">Фотография:</label>
                <input type="file" id="photo" name="photo" accept="image/*">            
            </div>
            <div>
                <input type="submit" value="Сохранить">
            </div>
        </form>
    </main>
</body>
</html>
