<!-- templates/delete_account.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="user-info">
                <p>Привет, {{ session['username'] }}!</p>
            </div>
                <a href="{{ url_for('logout') }}">Выйти</a>
            
        </nav>
        
    </header>
    <main>
        <h1>H E A R T H U B</h1>
        <h2>Delete Account</h2>
        <p style="color: aliceblue;">Вы уверены, что хотите удалить свой аккаунт?</p>

        <form method="post" action="{{ url_for('delete_account') }}">
            <input type="submit" value="Удалить аккаунт">
        </form>
    </main>
    

    <footer>
       <nav><a href="{{ url_for('glav') }}">На главную</a></nav>
    </footer>
</body>
</html>
