<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='glav.css') }}">
</head>
<body>

    <header>
            <div class="user-info" style="z-index: -1;">
                <p>Имя пользователя: {{ username }}!</p>
            </div>
        <h1>САЙТ ЗНАКОМСТВ</h1>
    </header>
    <main>
        <ul>
            <li><a href="{{ url_for('edit_anketa') }}">Редактировать анкету</a></li>
            <li><a href="{{ url_for('hide_anketa') }}">Спрятать анкету</a></li> 
            <li><a href="{{ url_for('view_anketa') }}">Просмотр анкет</a></li>
            <li><a href="{{ url_for('delete_account') }}">Удалить аккаунт</a></li>
        </ul>
    </main>
    <footer>
       <nav><a href="{{ url_for('logout') }}">Выйти</a> </nav>
    </footer>
</body>
</html>
